.dropit-sidebar-photo {
  position: relative;
  display: block;
  margin: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease-in-out;
  border-radius: 2px;
  cursor: pointer;
  min-height: 100px;
  background: #eee;

  &:hover {
    transform: scale(1.05);
    &:after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 0.15s ease-in-out;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.dropit-sidebar-photo__toolbar {
  position: absolute;
  bottom: 10px;
  right: 10px;

  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;

  .components-icon-button {
    display: inline-flex;
    opacity: 0.5;
    box-shadow: none !important;
    border: none !important;

    &.button-primary {
      color: #fff !important;
    }

    .dashicons-plus {
      padding-top: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.dropit-sidebar-photo__spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.5);

  .spinner {
    opacity: 1;
  }
}
